$font-stack: "Helvetica Neue", sans-serif;
$text-color: #333;
$base-font-size: 14px;

$brand-color: #6D32C9;
$success-color: #169632;
$danger-color: #CF21DB;

$base-border-radius: 5px;
$padding-small: 10px;
$padding-large: 20px;

$form-control-border: #ddd;
