.masked-word {
  &:after {
    display: table;
    content: "";
    clear: both;
  }

  .letter {
    display: inline-block;
    float: left;
    width: 48px;
    height: 48px;
    padding: 5px;
    margin: 1px;

    background: #ddd;
    border-radius: 3px;

    line-height: 38px;
    text-align: center;
  }
}

.incorrect-guesses .guess {
  display: inline-block;
  padding: 0 5px;

  background: red;
  border-radius: 3px;
  color: white;
}

.guess-form select.form-control {
  width: 5em;
}
